<% provide(:title, "Contact") %>
<div class="text-center">
  <h1>Contact Me</h1>
  <h3><small>Email:</small> ryan.fauver@gmail.com</h3>
  <%= image_tag("envelope1.png", size: "367x267") %>
  <br><br>
  <%= link_to image_tag("github-32.png", size: "32x32")+" GitHub", 'https://github.com/rfauver', class: "btn btn-lg btn-default" %>
  <%= link_to image_tag("twitter-32.png", size: "32x32")+" Twitter", 'https://twitter.com/rfauv', class: "btn btn-lg btn-info" %>
  <%= link_to image_tag("linkedin-32.png", size: "32x32")+" LinkedIn", 'https://www.linkedin.com/pub/ryan-fauver/a8/1b5/652/', class: "btn btn-lg btn-warning" %>
</div>