<% provide(:title, "Contact") %>
<div class="center hero-unit">
  <p><%= link_to "Gmail", 'mailto:ryan.fauver@gmail.com' %></p>
  <p><%= link_to "GitHub", 'https://github.com/rfauver' %></p>
  <p><%= link_to "Twitter", 'https://twitter.com/rfauv' %></p>
  <p><%= link_to "LinkedIn", 'Not yet' %></p>
</div>