<h3>Projects</h3>

<p><a href="https://rfauver.github.io/metronome/">metronome</a> • Recreation of a mechanical metronome using vanilla HTML, CSS, and Javascript</p>
<p><a href="https://github.com/rfauver/bouldering_notifications">bouldering_notifications</a> • Notifications when my climbing gym updates bouldering routes</p>
<p><a href="https://github.com/rfauver/met_wallpapers/commits/master">met_wallpapers</a> • Script for creating wallpapers from the <a href="https://www.metmuseum.org/">Met</a> collection</p>
<p><a href="https://rubygems.org/gems/table_puts/versions/0.0.1">table_puts</a> • Ruby gem for printing nice looking tables in a console</p>
<p><a href="https://github.com/rfauver/RyanFauver">ryanfauver.com</a> • Repository for this website</p>
<p><a href="https://medium.com/@ryan.fauver/2016-one-second-at-a-time-d1202597efb8">2016, One Second at a Time</a> • <a href="https://1se.co/">One Second Everyday</a> project made over the course of 2016</p>
<p><a href="https://www.scripted.com/engineering/lexical-diversity-writing">Lexical Diversity</a> • Internship project at <a href="https://www.scripted.com">scripted.com</a></p>
<p><a href="https://github.com/rfauver/RicochetRobotsJava">RicochetRobotsJava</a> • A Java version of the board game Ricochet Robots</p>
<p><a href="https://github.com/rfauver/Ricocheckers">Ricocheckers</a> • Original board game with four different AI computer opponents</p>

<h3>Contact me</h3>
<p>
  <a href="mailto:ryan.fauver@gmail.com">ryan.fauver@gmail.com</a> •
  <a href="https://github.com/rfauver">GitHub</a> •
  <a href="https://www.linkedin.com/pub/ryan-fauver/a8/1b5/652/">LinkedIn</a> •
  <a href="https://www.instagram.com/rfauv/">Instagram</a> •
  <a href="https://twitter.com/rfauv">Twitter</a>
</p>
