<h3>Writing</h3>
<p><a href="https://medium.com/@ryan.fauver/2016-one-second-at-a-time-d1202597efb8">2016, One Second at a Time</a></p>
<p><a href="https://www.scripted.com/content-marketing-2/36-years-presidential-debates">Comparing Language from 36 Years of Presidential Debates</a></p>
<p><a href="http://goats.scripted.com/blog/stripe-connect-managed-standalone-accounts/">Stripe Connect: Managed vs. Standalone Accounts</a></p>
<p><a href="https://www.scripted.com/engineering/lexical-diversity-writing">Lexical Diversity: Improving Writing Through Technology</a></p>

<h3>Projects</h3>
<p><a href="https://rubygems.org/gems/table_puts/versions/0.0.1">table_puts</a> • A ruby gem for printing nice looking tables in a console</p>
<p><a href="https://github.com/rfauver/RicochetRobotsJava">RicochetRobotsJava</a> • A Java version of the board game Ricochet Robots</p>
<p><a href="https://github.com/rfauver/Ricocheckers">Ricocheckers</a> • Original board game with four different AI computer opponents</p>
<p><a href="https://github.com/ncleves/10bit-cpu-isa">10-bit CPU ISA</a> • Custom instruction set architecture, compiler, and emulator</p>

<h3>Contact me</h3>
<p>
  <a href="mailto:ryan.fauver@gmail.com">ryan.fauver@gmail.com</a> •
  <a href="https://github.com/rfauver">GitHub</a> •
  <a href="https://www.linkedin.com/pub/ryan-fauver/a8/1b5/652/">LinkedIn</a> •
  <a href="https://www.instagram.com/rfauv/">Instagram</a> •
  <a href="https://twitter.com/rfauv">Twitter</a>
</p>
