<html>
<head>
  <title>Ryan Fauver</title>
  <link rel="stylesheet"    type="text/css"     href="/style.css">
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  <link rel="icon"          type="image/x-icon" href="/favicon.ico">
  <meta name="google" content="notranslate" />
</head>
<h1>Ryan Fauver</h1>
<p class="profile-pic">
                                                      .:+++osysssyhhsssoo+/--...`                                           <br>
                                                ``-/+hmmmmmmmmNNNNNNNNNNNNNNmmddhyso-                                       <br>
                                            .-/oydmNNNNNNNNMMMMMMMMMMMMMMNNNNNNNNNNmdy:.                                    <br>
                                     ``.-/shdmNNNNNNNNNMMMMMMMMMMMMMMNNNMNNNNMMNNNNNmmdyo:.                                 <br>
                                  .:oyyhdmNNNNNNNNNMMMMMMMMMMNNMMMMMMMMMMMMMMMMNNNNNNNNmmdh+.                               <br>
                               `/yddmNNmmmmmNNMMMMMMMMMMMNNNNMMMMMMMMMMMMMMMMMMMMMMMMMNNNNNmds-                             <br>
                              :ydmNNNNmNNNMMMMMMMMMMNNMMNMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNNNmdo`                           <br>
                            `/hmNNNNmNNNMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNmh:                          <br>
                          `/ydmmmmNNNNNMMMNNMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNMMNd+                         <br>
                         -hdmmmmmNMMNNMMMNNMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNNmMMMNd`                        <br>
                       `/dmmmmNNNMMMMMNNMNNNNMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNNNNNNNNmmmMMMNo                         <br>
                      .ymNmNNNNNNMNNNNNMNNNNNMMMMMMMMMMMNNmdddmNNMMMMMMMMMMMMMMMNNNmmmmmNNmddNMMMh:                         <br>
                     `hmNNNNNNNNNNNNNNNMNNNNMMNMMNNNNNNmhyyhdmNMMMMMMMMMMMNNNNmmmmddddmNmdyoosdMN+`                         <br>
                     omNNNNNNNNNNNNNNNMMNNNMMMMNNmmmmdhso++syhhdmmdddhhhhhhhhhhhyyyhdmmhso//:::odo`                         <br>
                    /hmNMNmNNmNNMMMMMMMMNNMMMNmddhhhhyso+/:::-:::::::::////++++++oosyso++//::---:+`                         <br>
                   :hdNNMmmNmmNMMMMMMMMNNNNNNmdddhhhhsso+/:---.......-------::::::///++//:::----.-.                         <br>
                  .ymNNNNmNNNNMMMMMMMMNNMNmNNmddddhhhyso/::--....--.....------------::::::------..`                         <br>
                  +dNNNNNmNNNMMMMMMMMmmNNdmNmmmmddhhhyso/:---....---....---::::::::::::----------..`                        <br>
                  smNNNNNNNNMMMMMNNMNmmNNdmmmmmmddddhhso/:--.....-------:/++o+++ooo++++///::-------.`                       <br>
                  ymNmNMNNNMMMMMNNMNmmNNNNNNNmmmmmmddys+:-......-----:/+syhhhhddddddddhyyso+/:----:--.                      <br>
                  smNNMMNmNMMMMNNMNmmNNNNNNNNNmmNmddhs/:-........-:/osyhddmmmmNNMMMMMNNmdhyys+::::/+oo/-                    <br>
                  dmmNNNNNMMMMMMMMNmNNNNNMNNNNmNNmhyo+-.........-:+osyyyyyyyyhhdmmNNNNNNmdhhyo/::/oyhhhy-                   <br>
                 `dNNNNNNMMMMMNNNNmmNMNNMMNNNNmNmdy+/-........-:/ooossssyyyyhhhhhdddmmmmmddhys+//oyhdmmmh`                  <br>
                  hNMNMNMMMMMMNNNNNNMMMMMMNNNmmNmyo:-.......--:/+osssyyhdddddmmNNNNNmddddhhyso///shdmNNNN+                  <br>
                  oNNNNMMMMMMMMNNMMMMMMMMNNMNNmmdo:-.......--:/+ossyydddddmdNMMMMMMMNNmddhyso+:::sdddhyss`                  <br>
                  +NNNMMMMMMMMMMMMMMMMMMMMMNMNNmy+:.......---:/+osyyhddddyyydMMMMNMNmNmmdyso+/::-omNmdh+`                   <br>
                  -NmMMMMMMNdhhdNNNMMNMNNMNMNNmdy+:........--:/+ooossoooosyyhdmmmmNmddddhyoo+/:::-/hNNm`                    <br>
                  .mmMMMMNs/+ssssyhdmmNNNMMMNNmdy+:-...--..---:::::://+oossyyyyhhdddhhhhyso+/::---::+d.                     <br>
                  `dNNMMN/+yyysssyo+shhmNMMNNNmho/::---..-...-------://++oosssyyyyyyyyso++/::----::::::                     <br>
                   +mMMMs/yys+::+oo//osyhdNNNmmhs+/:---.......-------:::////+++oooo+++///::--------::-`                     <br>
                   /NMMM+-os/...--/syooo++dNNmmhso+/:--...........------:::::::/:::::::::-----------::-                     <br>
                   -mMMM+./s+``.:ohddhoo:-ymdmmddyo+:---.........-------------:::::::::/::----------:::-                    <br>
                    sMMMm-:oo-.:+oyhyyo:.-/hhmmmdhyo//:---...------------------::::://+o+/:---------::::-`                  <br>
                    .MMMMy-/o:-:/+osooo:-::+hmNmmdhss+//:-----:--:----::::::::::///+osyy/---------:::::/:-                  <br>
                     yMMMM+-:/:://+ossss/:++ymNNNmddhyoo+/:--::::::::::::://////++osyhdh+:--::://///::://:-                 <br>
                     `hMMMNo:::::::-.-:::/sshNNNNNNmdhhysso+//:::::///////+++++ooyhyyyhdhsoosyhhhhyso+++//-                 <br>
                      `yMMMMd+----...-/+osyhhmNNNNNmddddhysso//:::://///+++ooosyhddhhhhhmmmmmmNNNNNNdysoo+.                 <br>
                       `yMMMMMms//:::::/+oshmmNNNNNNmmmdhyysso+o////++++oooosydmmmmmmmmmNmNmmmmmmdddhyys+`                  <br>
                        .dNMMMMMNy+//+ooosydmmNMMNNmNmmddhhhysssssoosoossssydNNNNNNNNNNNNNNNmmmNNNNNmddds                   <br>
                         -hMMMMMMd+:::+ossydmmNMNNNNNNmmdddddhhdhyyyyssyyyhmNNNNMMNNNNNNNNNNNNNNNNNNNmmmd                   <br>
                           yNMMMMNs/--:://:/ydmNMMMMNNNNNmddmmmdddhhhyyyhdNNNNNNNNmmNNmmmmNNNNNNNNmNNNmmd`                  <br>
                           `sNMMMNs/:---::--+dNMMMMMNNNNNNmmmNmmmmmddhhhdmNNNNNNNmNNmmmmmmmNNNNNNNmNNNmmo`                  <br>
                             :dMMMy/:------:/smNMMMMMMNNNNNNNNNNNNNmmmddmNNNNNNMMMMmmmmdmmhhddddNNNNNmd/                    <br>
                              -mMMs/:------:++ymNMMMMMMMMNNNNNNNNNNNNmmmNNNNmmmNNMMNNMNddysoyooyNNNNNmo                     <br>
                               -mN+:/::----:/+oymMMMMMMMMMMMMMMMMMMNNNNNNNNNmmmdddmmmmmmNmmdmddNmmmmmh`                     <br>
                                +d+::::----:+oosymMMMMMMMMMMMMMMMMMMNNNNNNNdddddhyyyhhhhhddddhhhyyhmmy                      <br>
                            .---/y/::::---://+++ohNMMMMMMMMMMMMMMMMMMMNNNNmmmdmdhhyyyyyyyyhhyyyysshmh-                      <br>
                         `+mNNNNNy/::::::-:///++oydNMMMMMMMMMMMMMMMMMMNNNNNNmdddddhyhhhyyyhhhyyyoosy/                       <br>
                         sNMMMMMNs//:/::::::/+++syhhdNMMMMMMMMMMMMMMMMMMMMNNmdmmmddhhhhhhddhhhyssoos.                       <br>
                       ./mMMMMMMNs/::::---:/::/oyhhyyhNMMMMMMMMMMMMMMMMMMMMNNNNNmmmddddhdmmddddyysoo.                       <br>
                    `:sddmMMMMMMNh+::::--::///+osyhhhhhdNMMMMMMMMMMMMMMMMMMMNNNNmmmmmddmmmNNmmNmdhys.                       <br>
                   :hmNNNmMMMMMMNds/-----::///+ossysyhhhdmNMMMMMMMMMMMMMMMMMNNNNNNmmmmmmmNNNNNNNmdho`                       <br>
                  +dNMMMNmMMMMMMNdyo:-----::/+ossyyyyhhdmmNNMMMMMMMMMMMMMMMMMNNNNNNNNmmmNNNNNNNNNmd+                        <br>
                 -dNNMMMNNMMMMMMNmhso/::::://+ossyhhddddddmmNMMMMMMMMMMMMMMMMMMMMNNNNNNNNNNNNMNNNNms                        <br>
                .yNNNMMMMNMMMMMMMmdyso+/::/++osyyyhhhhdhdddmmNNNMMMMMMMMMMMMMMMMMMMNNMNNNNMMMMMNNNd-                        <br>
             `:ohdNNMMMMNNMMMMMMMNdhysoo++++oosssyyhhhhddmmmmmmNNNMMMMMMMMMMMMMMMMMNMMNNMMMMMMMMNd/                         <br>
           `sdmmmmNNNMMMNNMMMMMMMMmdhysssoooosssssyyyhhhhdddmmmmNNNMMMMMMMMMMMMMMMMMMMMMMMMMMMMms.                          <br>
           sNNNNNmmNMMMMNMMMMMMMMMNmdhyyyssssssosssyyhhhhhhdddddmmNNNNNMMMMMMMMMMMMMMMMMMMMMmd+.                            <br>
      ``.-ommNNMNNNNMMMMNMMMMMMMMMNmdhhyyyssssssssssssyyyyyhhhhddmmmmmNNNmmNNMMMMMMMMMMNdhy+.`                              <br>
`.-/oshdmmmNNNNNNNNNNMMNMMMMMMMMMMMNmdhhyyysssssssyyyyysyyyyhhhdddddddmmddddMMMMMMMMMMN+``                                  <br>
dmNmNNNNNNNNNNNMMMMNMMMNMMMMMMMMMMMMmmdhhyysssssssyyyyyyyhyyhhhhhhhhdddddhdNMMMMMMMMMMMN:                                   <br>
NNNNNNNNMMMMNNNNMMMMMMNNMMMMMMMMMMMMNmddhhyyyyyssyyyyyyyhhhhhhhddhhhhhhhyhNMMMMMMMMMMMMMN/                                  <br>
NMNMMMMMMMMMMMMNMMMMMMNMMMMMMMMMMMMMMmddhhhyyyyyyyyyyyyyhhhhdddddddhhhyydNMMMMMMMMMMMMMMMN-                                 <br>
MMMMMMMMMMMMMMMMMMMNMMNMMMMMMMMMMMMMMNmddhhhhyyyyyyyyhyyyhhhhhhdddddhyymMMMMMMMMMMMMMMMMMMm-                                <br>
MMMMMMMMMMMMMMMMMMMMMMNNMMMMMMMMMMMMMNmddddhhyyyyyhyyyhhhhhhhhddddddhhmMMMMMMMMMMMMMMMMMMMMd`                               <br>
MMMMMMMMMMMMMMMMMMMMMMNNMMMMMMMMMMMMMMNdddhhhhhyyhhyyyyyyhhhhhhhddddhmMMMMMMMMMMMMMMMMMMMMMMh`                              <br>
MMMMMMMMMMMMMMMMMMMMMMNNMMMMMMMMMMMMMMNdddhhhhhhhyyyyyyyyhhhhhhhhhhhdMMMMMMMMMMMMMMMMMMMMMMMMy`                             <br>
</p>
<%= yield %>
<!-- Fathom - simple website analytics - https://github.com/usefathom/fathom -->
<script>
(function(f, a, t, h, o, m){
  a[h]=a[h]||function(){
    (a[h].q=a[h].q||[]).push(arguments)
  };
  o=f.createElement('script'),
  m=f.getElementsByTagName('script')[0];
  o.async=1; o.src=t; o.id='fathom-script';
  m.parentNode.insertBefore(o,m)
})(document, window, '//fathom-rfauver.herokuapp.com/tracker.js', 'fathom');
fathom('set', 'siteId', 'PXADM');
fathom('trackPageview');
</script>
<!-- / Fathom -->
</html>
