<html>
<head>
  <title>Ryan Fauver</title>
  <link rel="stylesheet"    type="text/css"     href="/style.css">
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  <link rel="icon"          type="image/x-icon" href="/favicon.ico">
  <meta name="google" content="notranslate" />
</head>
<h1>Ryan Fauver</h1>
<p class="profile-pic">
                                                      .:+++osysssyhhsssoo+/--...`                                           <br>
                                                ``-/+hmmmmmmmmNNNNNNNNNNNNNNmmddhyso-                                       <br>
                                            .-/oydmNNNNNNNNMMMMMMMMMMMMMMNNNNNNNNNNmdy:.                                    <br>
                                     ``.-/shdmNNNNNNNNNMMMMMMMMMMMMMMNNNMNNNNMMNNNNNmmdyo:.                                 <br>
                                  .:oyyhdmNNNNNNNNNMMMMMMMMMMNNMMMMMMMMMMMMMMMMNNNNNNNNmmdh+.                               <br>
                               `/yddmNNmmmmmNNMMMMMMMMMMMNNNNMMMMMMMMMMMMMMMMMMMMMMMMMNNNNNmds-                             <br>
                              :ydmNNNNmNNNMMMMMMMMMMNNMMNMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNNNmdo`                           <br>
                            `/hmNNNNmNNNMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNmh:                          <br>
                          `/ydmmmmNNNNNMMMNNMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNMMNd+                         <br>
                         -hdmmmmmNMMNNMMMNNMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNNmMMMNd`                        <br>
                       `/dmmmmNNNMMMMMNNMNNNNMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNNNNNNNNmmmMMMNo                         <br>
                      .ymNmNNNNNNMNNNNNMNNNNNMMMMMMMMMMMNNmdddmNNMMMMMMMMMMMMMMMNNNmmmmmNNmddNMMMh:                         <br>
                     `hmNNNNNNNNNNNNNNNMNNNNMMNMMNNNNNNmhyyhdmNMMMMMMMMMMMNNNNmmmmddddmNmdyoosdMN+`                         <br>
                     omNNNNNNNNNNNNNNNMMNNNMMMMNNmmmmdhso++syhhdmmdddhhhhhhhhhhhyyyhdmmhso//:::odo`                         <br>
                    /hmNMNmNNmNNMMMMMMMMNNMMMNmddhhhhyso+/:::-:::::::::////++++++oosyso++//::---:+`                         <br>
                   :hdNNMmmNmmNMMMMMMMMNNNNNNmdddhhhhsso+/:---.......-------::::::///++//:::----.-.                         <br>
                  .ymNNNNmNNNNMMMMMMMMNNMNmNNmddddhhhyso/::--....--.....------------::::::------..`                         <br>
                  +dNNNNNmNNNMMMMMMMMmmNNdmNmmmmddhhhyso/:---....---....---::::::::::::----------..`                        <br>
                  smNNNNNNNNMMMMMNNMNmmNNdmmmmmmddddhhso/:--.....-------:/++o+++ooo++++///::-------.`                       <br>
                  ymNmNMNNNMMMMMNNMNmmNNNNNNNmmmmmmddys+:-......-----:/+syhhhhddddddddhyyso+/:----:--.                      <br>
                  smNNMMNmNMMMMNNMNmmNNNNNNNNNmmNmddhs/:-........-:/osyhddmmmmNNMMMMMNNmdhyys+::::/+oo/-                    <br>
                  dmmNNNNNMMMMMMMMNmNNNNNMNNNNmNNmhyo+-.........-:+osyyyyyyyyhhdmmNNNNNNmdhhyo/::/oyhhhy-                   <br>
                 `dNNNNNNMMMMMNNNNmmNMNNMMNNNNmNmdy+/-........-:/ooossssyyyyhhhhhdddmmmmmddhys+//oyhdmmmh`                  <br>
                  hNMNMNMMMMMMNNNNNNMMMMMMNNNmmNmyo:-.......--:/+osssyyhdddddmmNNNNNmddddhhyso///shdmNNNN+                  <br>
                  oNNNNMMMMMMMMNNMMMMMMMMNNMNNmmdo:-.......--:/+ossyydddddmdNMMMMMMMNNmddhyso+:::sdddhyss`                  <br>
                  +NNNMMMMMMMMMMMMMMMMMMMMMNMNNmy+:.......---:/+osyyhddddyyydMMMMNMNmNmmdyso+/::-omNmdh+`                   <br>
                  -NmMMMMMMNdhhdNNNMMNMNNMNMNNmdy+:........--:/+ooossoooosyyhdmmmmNmddddhyoo+/:::-/hNNm`                    <br>
                  .mmMMMMNs/+ssssyhdmmNNNMMMNNmdy+:-...--..---:::::://+oossyyyyhhdddhhhhyso+/::---::+d.                     <br>
                  `dNNMMN/+yyysssyo+shhmNMMNNNmho/::---..-...-------://++oosssyyyyyyyyso++/::----::::::                     <br>
                   +mMMMs/yys+::+oo//osyhdNNNmmhs+/:---.......-------:::////+++oooo+++///::--------::-`                     <br>
                   /NMMM+-os/...--/syooo++dNNmmhso+/:--...........------:::::::/:::::::::-----------::-                     <br>
                   -mMMM+./s+``.:ohddhoo:-ymdmmddyo+:---.........-------------:::::::::/::----------:::-                    <br>
                    sMMMm-:oo-.:+oyhyyo:.-/hhmmmdhyo//:---...------------------::::://+o+/:---------::::-`                  <br>
                    .MMMMy-/o:-:/+osooo:-::+hmNmmdhss+//:-----:--:----::::::::::///+osyy/---------:::::/:-                  <br>
                     yMMMM+-:/:://+ossss/:++ymNNNmddhyoo+/:--::::::::::::://////++osyhdh+:--::://///::://:-                 <br>
                     `hMMMNo:::::::-.-:::/sshNNNNNNmdhhysso+//:::::///////+++++ooyhyyyhdhsoosyhhhhyso+++//-                 <br>
                      `yMMMMd+----...-/+osyhhmNNNNNmddddhysso//:::://///+++ooosyhddhhhhhmmmmmmNNNNNNdysoo+.                 <br>
                       `yMMMMMms//:::::/+oshmmNNNNNNmmmdhyysso+o////++++oooosydmmmmmmmmmNmNmmmmmmdddhyys+`                  <br>
                        .dNMMMMMNy+//+ooosydmmNMMNNmNmmddhhhysssssoosoossssydNNNNNNNNNNNNNNNmmmNNNNNmddds                   <br>
                         -hMMMMMMd+:::+ossydmmNMNNNNNNmmdddddhhdhyyyyssyyyhmNNNNMMNNNNNNNNNNNNNNNNNNNmmmd                   <br>
                           yNMMMMNs/--:://:/ydmNMMMMNNNNNmddmmmdddhhhyyyhdNNNNNNNNmmNNmmmmNNNNNNNNmNNNmmd`                  <br>
                           `sNMMMNs/:---::--+dNMMMMMNNNNNNmmmNmmmmmddhhhdmNNNNNNNmNNmmmmmmmNNNNNNNmNNNmmo`                  <br>
                             :dMMMy/:------:/smNMMMMMMNNNNNNNNNNNNNmmmddmNNNNNNMMMMmmmmdmmhhddddNNNNNmd/                    <br>
                              -mMMs/:------:++ymNMMMMMMMMNNNNNNNNNNNNmmmNNNNmmmNNMMNNMNddysoyooyNNNNNmo                     <br>
                               -mN+:/::----:/+oymMMMMMMMMMMMMMMMMMMNNNNNNNNNmmmdddmmmmmmNmmdmddNmmmmmh`                     <br>
                                +d+::::----:+oosymMMMMMMMMMMMMMMMMMMNNNNNNNdddddhyyyhhhhhddddhhhyyhmmy                      <br>
                            .---/y/::::---://+++ohNMMMMMMMMMMMMMMMMMMMNNNNmmmdmdhhyyyyyyyyhhyyyysshmh-                      <br>
                         `+mNNNNNy/::::::-:///++oydNMMMMMMMMMMMMMMMMMMNNNNNNmdddddhyhhhyyyhhhyyyoosy/                       <br>
                         sNMMMMMNs//:/::::::/+++syhhdNMMMMMMMMMMMMMMMMMMMMNNmdmmmddhhhhhhddhhhyssoos.                       <br>
                       ./mMMMMMMNs/::::---:/::/oyhhyyhNMMMMMMMMMMMMMMMMMMMMNNNNNmmmddddhdmmddddyysoo.                       <br>
                    `:sddmMMMMMMNh+::::--::///+osyhhhhhdNMMMMMMMMMMMMMMMMMMMNNNNmmmmmddmmmNNmmNmdhys.                       <br>
                   :hmNNNmMMMMMMNds/-----::///+ossysyhhhdmNMMMMMMMMMMMMMMMMMNNNNNNmmmmmmmNNNNNNNmdho`                       <br>
                  +dNMMMNmMMMMMMNdyo:-----::/+ossyyyyhhdmmNNMMMMMMMMMMMMMMMMMNNNNNNNNmmmNNNNNNNNNmd+                        <br>
                 -dNNMMMNNMMMMMMNmhso/::::://+ossyhhddddddmmNMMMMMMMMMMMMMMMMMMMMNNNNNNNNNNNNMNNNNms                        <br>
                .yNNNMMMMNMMMMMMMmdyso+/::/++osyyyhhhhdhdddmmNNNMMMMMMMMMMMMMMMMMMMNNMNNNNMMMMMNNNd-                        <br>
             `:ohdNNMMMMNNMMMMMMMNdhysoo++++oosssyyhhhhddmmmmmmNNNMMMMMMMMMMMMMMMMMNMMNNMMMMMMMMNd/                         <br>
           `sdmmmmNNNMMMNNMMMMMMMMmdhysssoooosssssyyyhhhhdddmmmmNNNMMMMMMMMMMMMMMMMMMMMMMMMMMMMms.                          <br>
           sNNNNNmmNMMMMNMMMMMMMMMNmdhyyyssssssosssyyhhhhhhdddddmmNNNNNMMMMMMMMMMMMMMMMMMMMMmd+.                            <br>
      ``.-ommNNMNNNNMMMMNMMMMMMMMMNmdhhyyyssssssssssssyyyyyhhhhddmmmmmNNNmmNNMMMMMMMMMMNdhy+.`                              <br>
`.-/oshdmmmNNNNNNNNNNMMNMMMMMMMMMMMNmdhhyyysssssssyyyyysyyyyhhhdddddddmmddddMMMMMMMMMMN+``                                  <br>
dmNmNNNNNNNNNNNMMMMNMMMNMMMMMMMMMMMMmmdhhyysssssssyyyyyyyhyyhhhhhhhhdddddhdNMMMMMMMMMMMN:                                   <br>
NNNNNNNNMMMMNNNNMMMMMMNNMMMMMMMMMMMMNmddhhyyyyyssyyyyyyyhhhhhhhddhhhhhhhyhNMMMMMMMMMMMMMN/                                  <br>
NMNMMMMMMMMMMMMNMMMMMMNMMMMMMMMMMMMMMmddhhhyyyyyyyyyyyyyhhhhdddddddhhhyydNMMMMMMMMMMMMMMMN-                                 <br>
MMMMMMMMMMMMMMMMMMMNMMNMMMMMMMMMMMMMMNmddhhhhyyyyyyyyhyyyhhhhhhdddddhyymMMMMMMMMMMMMMMMMMMm-                                <br>
MMMMMMMMMMMMMMMMMMMMMMNNMMMMMMMMMMMMMNmddddhhyyyyyhyyyhhhhhhhhddddddhhmMMMMMMMMMMMMMMMMMMMMd`                               <br>
MMMMMMMMMMMMMMMMMMMMMMNNMMMMMMMMMMMMMMNdddhhhhhyyhhyyyyyyhhhhhhhddddhmMMMMMMMMMMMMMMMMMMMMMMh`                              <br>
MMMMMMMMMMMMMMMMMMMMMMNNMMMMMMMMMMMMMMNdddhhhhhhhyyyyyyyyhhhhhhhhhhhdMMMMMMMMMMMMMMMMMMMMMMMMy`                             <br>
</p>
<%= yield %>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57411689-1', 'auto');
  ga('send', 'pageview');

</script>
</html>
