<html>
<head>
  <title>Ryan Fauver</title>
  <link rel="stylesheet"    type="text/css"     href="/style.css">
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  <link rel="icon"          type="image/x-icon" href="/favicon.ico">
  <meta name="google" content="notranslate" />
</head>
<h1>Ryan Fauver</h1>
<%= yield %>
<!-- Fathom - simple website analytics - https://github.com/usefathom/fathom -->
<!-- <script>
(function(f, a, t, h, o, m){
  a[h]=a[h]||function(){
    (a[h].q=a[h].q||[]).push(arguments)
  };
  o=f.createElement('script'),
  m=f.getElementsByTagName('script')[0];
  o.async=1; o.src=t; o.id='fathom-script';
  m.parentNode.insertBefore(o,m)
})(document, window, '//fathom-rfauver.herokuapp.com/tracker.js', 'fathom');
fathom('set', 'siteId', 'PXADM');
fathom('trackPageview');
</script> -->
<!-- / Fathom -->
</html>
